<form method='post' action='/login'>
  <h2>Iniciar Sesion</h2>
  <img src='https://img.icons8.com/ios-glyphs/512/user.png' class='arrow' alt='' />
  <p class='pista'>"usuario: jose // contraseña: lamensa"</p>
  <input placeholder='username' name='username' />
  <input placeholder='password' name='password' type='password' />
  <button type='submit'>Login</button>
</form>