html
    head
        title='test pug'
        style
            include styles.css
    body
        h1="Has Ingresado un producto correctamente"
        a(href="./" class="my-button" ) Volver al listado de productos
    